
   function To_String( t : $etype ) return String is
   begin      
      case t is
#for $e in $string_assignments:
         $e;
#end for;
      end case;
   end To_String;
   
   function From_Value( i : Integer ) return $etype is
   begin
      case i is
#for $e in $enum_assignments:
         $e;
#end for;
         when others => $default_assignment;
      end case;
   end To_String;
   
   function To_Value( t : $etype ) return Integer is
   begin
      case t is
#for $e in $int_assignments:
         $e;
#end for;
      end case;   
   end To_String;
   
