--
-- created on $date
-- 
with model.enums;

package model.parameters.${packageName} is

   use model.enums;
   --
   -- constants for array declararions
   --
#for $e in $constants:
   ${e};
#end for

   --
   -- ranges for array declararions
   --
#for $e in $ranges:
   ${e};
#end for

   --
   -- array declararions
   --
#for $e in $array_declarations:
   ${e};
#end for

#for $e in $record_declarations:
${e}

#end for

end model.parameters.${packageName};
